{% extends "layout.html" %}

{% block head %}
    <meta name="description" content="Introducing Flask Wallet, make better spending decisions.">
    <title>About - Flask Wallet</title>
{% endblock %}

{% block content %}
<div class="wallet-padded wallet-colored mdl-typography--text-center">
    <div class="wallet-slogan">Spend or save?<br/>Make better decisions.</div>
    <div class="wallet-sub-slogan">Set a wallet balance. Add expenses.<br/>Know when you're in the green or red financially.</div>
</div>
{% endblock %}