{% extends "layout.html" %}

{% block head %}
    <meta name="description" content="Make better spending decisions. Keep track of your finances.">
    <title>Dashboard - Flask Wallet</title>
{% endblock %}

{% block content %}
<div class="content-grid mdl-grid">
    <div class="wallet-padded wallet-dashboard-section mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="wallet-slogan">KES {{ balance }}</div>
        <div class="wallet-sub-slogan">Left to spend!</div>
        <form class="wallet-expense" method="POST" action="/add_expense">
            {{ expense_form.hidden_tag() }}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ expense_form.amount(class_="mdl-textfield__input", type="number") }}
            <label class="mdl-textfield__label" for="expenseAmount">{{ expense_form.amount.label }}</label>
            <span class="mdl-textfield__error">Please Enter Valid Amount</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ expense_form.note(class_="mdl-textfield__input") }}
            <label class="mdl-textfield__label" for="expenseNote">{{ expense_form.note.label }}</label>
            <span class="mdl-textfield__error">Please Enter Valid Note</span>
            </div>
            <button class="form-submit mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" name="addExpense">
            Add Expense
            </button>
        </form>
    </div>
    <div class="wallet-padded wallet-history-section mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="wallet-slogan">History</div>
        <ul class="wallet-history mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">money_off</i>
                <span>KES 1,500</span>
                <span class="mdl-list__item-sub-title">Nakumatt</span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <span class="mdl-list__item-secondary-info">19/07/2017</span>
                <span class="mdl-list__item-secondary-actions">
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">mode_edit</i></a>
                <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">delete</i></a>
                </span>
            </span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}